

  .check { 
    visibility:hidden;
  }

  .btn1 {
    margin-right: .5rem;
  border-radius: .5rem;
  
  font-family: 'Avenir Next';
  
  
  color: color-black;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 1px transparent;
  background-image: linear-gradient(rgba(33, 187, 33, 0), rgba(19, 235, 134, 0)), linear-gradient(101deg, #78e4ff, #06dffc);
font-family: 'Georama', sans-serif;
font-weight:bold;

  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #FDD380 inset;
}

.btn1:hover {
  box-shadow: none;
  color: white;
}

.scheduleList{
  background-color: white;
  padding : 2rem;
  margin-top:1rem;
}

.its{
  margin-top:.5rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  border: transparent
}


  .id-error { 
    visibility:hidden;
  }
@media (max-width: 640px) {
  .section:first-of-type {
    min-height: 0;
  }

  section:first-of-type .hero-inner {
    padding-top: 1rem;
    padding-bottom: 0;
  }

  section:first-of-type .hero-inner .split-item {
    padding: 0;
  }

  .yellowblock{
    background: #FDD380;
  }

  section:nth-of-type(2) {
    margin-top: 2rem;
  }

  section:nth-of-type(2) .section-inner {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }

  section:nth-of-type(2) .section-inner .cta-slogan {
    margin-bottom: 1rem;
  }
}



input[type="text"]:disabled{background-color:#f2f2f2;}

.btmbox{
  margin-top: 20px;
}

#meetlink{
  font-size: 16px;
  color: blue;
}

#date, #time{
  margin-bottom: 10px;
}

@media(max-width: 500px){
  #meetlink{
    font-size: 12px;
  }
  .btn1 {
    margin-bottom: 1rem;
    font-size:20px
    
  }
}

.fade{
  display:none
}

.hide{
  display: none;
}