

  .check { 
    visibility:hidden;
  }

  .cross{
  margin-left: 100%; 
  background-color:rgb(199, 62, 20)
 
  }

  .popupData { 
  
    z-index: 10;
    position: absolute;
    background-color:rgba(0,0,0,0.8);
    height: 100%;
    width: 100vw;
    text-align: center;
    
    
  }

  .displayPopup{
    display: none;
  }
   


.popupHeading{
  color: white;

}

#date  {
   font-family: 'Roboto Mono', monospace;  
   font-weight: bold;
   color: grey;
  border: gray ;
  border-style: solid;
  border-radius: .5rem;

}
 
#time{
  font-size:1.7rem;
  border: gray ;
  border-style: solid;
  border-radius: .5rem;
   font-family: 'Roboto Mono', monospace;  
color: grey;

}

#scheduleDesription{
       font-family: 'Roboto Mono', monospace;  
   font-weight: bold;
   color: grey;
  border: gray ;
  border-style: solid;
  border-radius: .5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.popupError {
  display: none;
}

#mark{
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
  background-color: rgb(32, 32, 32);
   color: white;
   border-radius: .2rem;
   margin-top: 1rem;
   padding-left: 1rem;
   padding-right: 1rem;
}

#scheduleButton:hover{
  font-weight: bold;
  background-color:grey;
  color: black;
}

  .inputs { 
    
    background-color:#0F52BA  ;
    padding:1rem;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
   flex-direction :column;
   justify-content: center;
   align-items: center;
   border-radius: .5rem;

  }



  .btn1 {

    margin-right: .5rem;
  border-radius: .5rem;
  
  font-family: 'Avenir Next';
  
  
  color: white;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 1px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(19, 235, 134, 0)), linear-gradient(101deg, white, white);
font-family: 'Georama', sans-serif;
font-weight:bold;

  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px black inset;
}

.btn1:hover {
  box-shadow: none;
  color: black;
  
}
 

.scheduleList{
  background-color: white;
  padding : 2rem;
  margin-top:1rem;
}

.its{
  margin-top:.5rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  border: transparent
}


  .id-error { 
    visibility:hidden;
  }
@media (max-width: 640px) {
  .section:first-of-type {
    min-height: 0;
  }

  section:first-of-type .hero-inner {
    padding-top: 1rem;
    padding-bottom: 0;
  }

  section:first-of-type .hero-inner .split-item {
    padding: 0;
  }

  .yellowblock{
    background: #0F52BA;
  }

  section:nth-of-type(2) {
    margin-top: 2rem;
  }

  section:nth-of-type(2) .section-inner {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }

  section:nth-of-type(2) .section-inner .cta-slogan {
    margin-bottom: 1rem;
  }
}



input[type="text"]:disabled{background-color:#f2f2f2;}

.btmbox{
  margin-top: 20px;
}

#meetlink{
  font-size: 16px;
  color: blue;
}

#date, #time{
  margin-bottom: 10px;
}

@media(max-width: 500px){
  #meetlink{
    font-size: 12px;
  }
  .btn1 {
    margin-bottom: 1rem;
    font-size:20px
    
  }
}

.fade{
  display:none
}

.hide{
  display: none;
}